<ion-content>
  <div class="ion-text-center">
    <ion-list>
      <br>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Usa método contraceptivo?</b></ion-label>
        </ion-list-header>
       
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>

      </ion-radio-group>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Qual tipo?</b></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>anticoncepcional-injetável</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>anticoncepcional-injetável</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>adesivo</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>tabelinha</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>coito interrompido</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>camisinha -masculina/feminina</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>D.I.U / laqueadura/ outros</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>    

      </ion-radio-group>
      <br>
    </ion-list>
    <div class="rodape ion-text-center">
       <ion-button color="primary" href="" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>próximo</b></ion-button>
       <ion-fab>
        <ion-fab-button>
            <ion-icon name="help-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>

