<ion-content>
  <div class="backgroud">
      <div class="container ion-button-center">
          <ion-button href="/saude-vaginal" expand="full" fill="outline">Saúde ginecológica <br>(vaginal e higiene íntima)</ion-button>
          <ion-button href="/clico-menstrual" expand="full" fill="outline">Ciclo menstrual</ion-button>
          <ion-button href="/metodo-contraceptivo" expand="full" fill="outline">Métodos contraceptivos</ion-button>
          <ion-button expand="full" fill="outline">Sexo e sexualidade</ion-button>
          <ion-button expand="full" fill="outline">Serviços de urgência ginecológica</ion-button>
      </div>
   </div>
</ion-content>
