<ion-content>
  <div class="backgroud ion-text-center">
    <ion-list>
      <br>
      <ion-label class="titu ion-text-center"><b>Higiene Íntima</b></ion-label>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Usa duchas vaginais?</b></ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Devo usar? <a class="link">Clique aqui</a></ion-label>
      </ion-item>
        
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Usa protetor diário?</b></ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Devo usar? <a class="link">Clique aqui</a></ion-label>
      </ion-item>
      <br>
    </ion-list>
    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/higiene-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>próximo</b></ion-button>
    </div>
  </div>
  <ion-fab>
    <ion-fab-button>
      <img src="../../../assets/icon/dica.png"> 
    </ion-fab-button>
  </ion-fab>
</ion-content>
