.backgroud {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/clico.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ff6c92;
}

ion-list{
    background-color:#b5f0f0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    border-radius: 25px;
}
ion-radio{
    --color-checked: #ff6c92;
}
ion-item{
    --background:#b5f0f0;
    --border-radius: 10px;
}
img{
    height: 25px;
}
ion-fab{
    position: absolute;
    bottom: 55px;
    margin-left: 80%;
}

ion-list-header{
    margin-left: 2%;
}

.rodape{
    position: absolute;
    bottom: 55px;
    width: 100%;
}

.link{
   color: #4a1c75;
   
}
