<ion-content>
  <div class="backgroud ion-text-left">

<ion-list class="lista">
  <ion-list-header><b>Sintomas</b></ion-list-header>
  <ion-radio-group>
    <ion-list-header>
      <ion-label><img src="../../../assets/icon/ardor.png">Ardor</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Baixo</ion-label>
      <ion-radio slot="start" value="Baixo" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Médio</ion-label>
      <ion-radio slot="start" value="Medio"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Alto</ion-label>
      <ion-radio slot="start" value="Alto"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item>
    <ion-label><img src="../../../assets/icon/corrimento.png"> Corrimento</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label><img src="../../../assets/icon/coceira.png"> Coceira</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label><img src="../../../assets/icon/sangramento.png"> Sangramento</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label><img src="../../../assets/icon/colica.png"> Cólicas</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label><img src="../../../assets/icon/muco.png"> Muco</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  
</ion-list>
<div class="rodape ion-text-center">
  <ion-button color="primary" href="" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>próximo</b></ion-button>
</div>
  <ion-fab>
    <ion-fab-button>
      <ion-icon name="help-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  </div>
</ion-content>
