.container{
 position: absolute;
 left: 0;
 right: 0;
 width: 75%;
 margin: 0 auto;
 z-index: 2;
 &.top{
 
     top:16%;
     border-radius: 10px;
     background-color: #ff93ab;
     ion-segment{

        ion-segment-button{
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: none;
            ion-label{
                size: 100px;
            }
        }
     }
 }

 &.botton{
     bottom: 5%;
    span {
        color: #ffffff;
    }
 }

}
.backgroud {
 position: static;
 width: 100%;
 height: 100%;
 background: url(../../../assets/img/back.png);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
}

ion-slides {
    height: 100%;
    
    .slide-inner{
        width: 75%;
        color: rgb(5, 5, 5);
        background-color:#ff93ab;
        border-radius: 10px;
    }

    ion-item{
        --border-radius: 10px;
    }
}