<ion-content class="swiper-no-swiping">
 <div class="backgroud">
    <div class="container top ion-text-center">
      <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login">
        <ion-segment-button mode="ios" value="login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" value="register">
          <ion-label>Cadastro</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  
    <ion-slides>
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Login</span>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
          </ion-item>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
          </ion-item>
  
          <ion-button class="ion-margin-top" (click)="login()" color="primary" expand="block">
            Entrar
          </ion-button>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Cadastro</span>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="text" placeholder="nome"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="date"  placeholder=""></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="e-mail" [(ngModel)]="userRegister.email" ></ion-input>
          </ion-item>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="senha" [(ngModel)]="userRegister.password"></ion-input>
          </ion-item>
  
          <ion-button class="ion-margin-top" (click)="register()" color="primary" expand="block">
            Cadastrar
          </ion-button><br>
         <a><span>temos e condições</span></a>
        </div>

      </ion-slide>
    </ion-slides>
    </div>
</ion-content>
