<ion-content>
  <div class="backgroud">
   <ion-button href="/objetivos" color="dark" class="button">
    <img src="../../../assets/icon/voltar.png">
   </ion-button>
     <ion-slides>
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Cadastro</span>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="text" placeholder="nome"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="date"  placeholder=""></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="e-mail" ></ion-input>
          </ion-item>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="senha" ></ion-input>
          </ion-item>
  
          <ion-button fill="outline" href="/login" class="ion-margin-top" color="primary" expand="block">
            Cadastrar
          </ion-button><br>
         <a><span>termos de uso, politicas de privacidade</span></a>
        </div>

      </ion-slide>
     </ion-slides>
     
     </div>
 </ion-content>