.backgroud {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/telafixa.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ff6c92;
}

.rodape{

    position: absolute;
    bottom: 8%;
    width: 100%;
}