<ion-content>
  <div class="background ion-text-left">
    <ion-list>
      <br>
      
        <ion-list-header>
          <ion-label><b>Uso de Anticoncepcional</b></ion-label>
        </ion-list-header> 
        <br><br><br>
      <ion-item>


        
      </ion-item> 
        <ion-list-header>
          <ion-label><b>Perigoso engravidar na troca de anticoncepcional?</b></ion-label>
        </ion-list-header>
      
        <ion-radio-group>
          
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
        <br>
        <br>
        <br>
        <br>
        <br>
      </ion-radio-group>
      <br>
    </ion-list>
    <div class="rodape ion-text-center">
       <ion-button color="primary" href="/uso-adolecentes" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>próximo</b></ion-button>
       <ion-fab>
        <ion-fab-button>
          <img src="../../../assets/icon/dica.png"> 
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>

  