.container{
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;
    &.top{
    
        top:16%;
        border-radius: 10px;
        background-color: #ff93ab;
        ion-segment{
   
           ion-segment-button{
               color: black;
               font-family: Verdana, Geneva, Tahoma, sans-serif;
               border: none;
               ion-label{
                   size: 100px;
               }
           }
        }
    }
   
    &.botton{
        bottom: 5%;
       span {
           color: #ffffff;
       }
    }
   
   }

.itens{
    margin-left: -25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(5, 5, 5);
}
.rodape{

    position: absolute;
    bottom: -20px;
    width: 100%;
}
.backgroud {
    position: static;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
    ul{
     text-align: left;
    }
    .my-nav {
        list-style-type: disc;
    }
}
