<ion-content>
  <div class="backgroud">
    <div class="container top ion-text-center">
      <div class="ion-padding">
        <section>
          <ul class="my-nav list">
            <h6 class="itens"><b>Você está na ferramenta digital que lhe dará informações sobre:</b></h6>
            <li class="itens">
              Saúde ginecológica (vaginal e higiene íntima),
              ciclo menstrual e métodos contraceptivos 
            </li>
            <li class="itens">
              Orientações sobre sexo e sexualidade
            </li>
            <li class="itens">
              Serviços de urgência ginecológica da sua cidade
            </li>
          </ul>
        </section>
      </div>
            <ion-button fill="outline" href="/cadastro" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
              Cadastre-se
            </ion-button>
            <ion-button fill="outline" href="/login" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
              Login
            </ion-button>
    </div>
   
  </div>
  
</ion-content>
