<ion-content>
  <div class="backgroud">
    <div class="container top ion-text-center">
      <div class="ion-padding">
        <section>
          <ul class="my-nav list">
            <h6><b>GinecoHelp poderá:</b></h6>
            <li class="itens">
              Ampliar seu entendimento sobre 
              à saúde ginecológica 
              (vaginal e higiene íntima);
            </li>
            <li class="itens">
              Monitorar seu ciclo menstrual e conhecer os 
              principais métodos contraceptivos 
              evitando uma gravidez indesejada e infecções 
              sexualmente transmissíveis;
            </li>
            <li class="itens">
              Conhecer  pontos importantes sobre Sexo, 
              sexualidade e desejo sexual;
            </li>
            <li class="itens">
              Descobrir os principais serviços de saúde de 
              urgência ginecológica na sua cidade.
            </li>
          </ul>
        </section>
      </div>
      <div class="rodape ion-button-center">
        <ion-button color="primary" href="" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>próximo</b></ion-button>
      </div>
    </div>
  </div>
  
</ion-content>
